<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Tree</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/274f95a058.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="#" class="logo">WholeGrain<span>.</span>In</a>
        <div class="menuToggle" onclick="toggleMenu();"></div>
        <ul class="navigation">
            <li><a href="#banner">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#product">Our Products</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </header>
    
